/* 为类.c-aaa添加flex布局，并使其子元素垂直居中和水平居中 */
.c-aaa {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .colll类样式定义 */
.colll {
    /* 将元素向右平移290%、向下平移212% */
    transform: translateX(290%) translateY(212%);
    width: 10px;
    height: 10px;
    background-color: rgb(255, 97, 88);
    border-radius: 5px;
    position: fixed;
    z-index: 100;
}

/* .her类样式定义 */
.her {
    height: 1%;
}

/* .dong类样式定义，设置动画持续时间和名称 */
.dong {
    animation-duration: 0.4s;
    animation-name: slidein;
}

/* slidein关键帧动画定义 */
@keyframes slidein {
    from {
        height: 0%;
    }
    to {
        height: 60%;
    }
}

/* .dong1类样式定义，设置动画持续时间和名称 */
.dong1 {
    animation-duration: 0.4s;
    animation-name: slidein1;
}

/* slidein1关键帧动画定义 */
@keyframes slidein1 {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

/* .window_showee类样式定义 */
.window_showee {
    height: 23%;
}

/* .u类样式定义，设置动画持续时间和名称 */
.u {
    animation-duration: 0.95s;
    animation-name: donghua;
}

/* donghua关键帧动画定义 */
@keyframes donghua {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* .u2类样式定义，设置动画持续时间和名称 */
.u2 {
    display: block;
    animation-duration: 0.95s;
    animation-name: donghua2;
}

/* donghua2关键帧动画定义 */
@keyframes donghua2 {
    from {
        margin-left: 0%;
        width: 100%;
    }
    to {
        margin-left: 100%;
        width: 300%;
    }
}

/* ID为“input”的元素圆角设置为10像素 */
#input {
    border-radius: 10px;
}

/* .dong0101类样式定义，设置动画持续时间和名称 */
.dong0101 {
    animation-duration: 0.4s;
    animation-name: slidein0101;
}

/* slidein0101关键帧动画定义 */
@keyframes slidein0101 {
    from {
        height: 0%;
    }
    to {
        height: 30%;
    }
}

/* .dong1_类样式定义，设置动画持续时间和名称 */
.dong1_ {
    animation-duration: 0.4s;
    animation-name: slidein1_;
}

/* slidein1_关键帧动画定义 */
@keyframes slidein1_ {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

/* .incorrect伪类样式定义 */
.incorrect:before {
    content: '\2716'; /* 使用叉符号作为内容 */
    color: rgb(66, 4, 5); /* 设置颜色 */
}

/* .new_dow类样式定义 */
.new_dow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3%;
    background-color: #2f4259;
    backdrop-filter: blur(20px); /* 设置背景模糊 */
    transform: translateY(-10%) translateX(-0.87%);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3); /* 设置阴影 */
}